/* Global Stylpes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

li {
  font-size: 2.4rem;
}

.nav-a {
  color: white;
  text-decoration: none;
  position: relative;
}

.nav-a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-a:hover::before {
  visibility: visible;
  width: 100%;
}
/* Buttons */
#explore {
  padding: 1rem 4rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  margin-bottom: 20rem;
  background: white;
  color: #f1c40f;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 1rem;
  align-items: center baseline;
}

#explore:hover {
  background-color: #f1c40f;
  color: white;
  border-radius: 100rem;
}

#bookbtn {
  padding: 1rem 4rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  margin-bottom: 20rem;
  background: white;
  color: #f1c40f;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 1rem;
  align-items: center baseline;
}

#bookbtn:hover {
  background-color: #f1c40f;
  color: white;
  border-radius: 100rem;
}

#book-now {
  padding: 1rem;
  font-size: 1.8rem;
  background: white;
  color: #f1c40f;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  align-items: center baseline;
}

/* Headings */

header {
  background-color: #ffa502;
  color: #f5f6fa;
}

/* Nav */
nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  padding: 3rem;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 4rem;
}

nav ul li a {
  font-size: 2rem;
}
#logo {
  flex: 2 1 40rem;
  font-family: "Six Caps", sans-serif;
}

/* Images */
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("images/travel3.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about {
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("images/Travel.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#book-now {
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("images/Travel2.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#info {
  display: flex;
  flex-direction: row;
  height: 80px;
  background: darkgrey;
}

#footerbox {
  display: flex;
}

#left-content {
  display: flex;
  font-size: 1.5rem;
  justify-content: flex-start;
  padding: 1rem;
}

/* Footer */
.footer-text,
a {
  text-decoration: none;
  color: #f1c40f;
  font-size: 1.5rem;
  padding: 10px;
}

span {
  margin-top: 15px;
  font-size: 1rem;
  color: black;
}

ul {
  list-style-type: none;
}
